services:
  db:
    image: postgres:16-alpine
    container_name: biomachine-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: 
      POSTGRES_USER: 
      POSTGRES_PASSWORD: 

    volumes:
      - pg_data:/var/lib/postgresql/data

    ports:
      - "5432:5432"

volumes:
  pg_data:
